.dashboard-button {
    width: 100%;
    margin-bottom: 10px;
}

.table-icon {
    height:30px;
    width: auto;
}

.icon-field {
    text-align: center;
}

#item-panel-table {
    max-height: 500px;
    overflow-y: auto;
}