.coredata-category-button {
    width: 49.22%;
}

.coredata-table-button {
    width: 33%;
}

.no-padding {
    padding: 0;
}

#category-panel {
    height: 450px;
    overflow-y: auto;
}

span {
    cursor:pointer;
}

#item-table {
    max-height: 450px;
    overflow-y: auto;
}

.modal-row {
    margin-bottom: 10px;
}

.dropdown-toggle {
    font-size: inherit;
}

#add-new-attribute-button {
    margin-top: 10px;
}

.checkbox-label {
    position:relative;
    top: 2.5px;
    margin-left:5px;
}

.checkbox {
    margin-top:20px;
    margin-bottom: 0px;
}