.loginFrame{
    margin-top: 15%;
}

.login-panel {
    max-width: 400px;
    background-color: #1670A9;
}

.login-input {
    width: 50%;
}

.input-group {
    width:100%;
}

.login-group {
    margin-top: 30px;
    width:80%;
}

.login-btn {
    margin-top: 30px;
    margin-bottom: 20px;
    width:80%;
}

.register-button {
    margin-top: 60px;
}

#login-username {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

#login-password {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}