.badge{
    margin-right: 5px;
}

.attributes{
    display:inline;
}

@media (min-width:700px) {
    .panel {
        height: 500px;
        overflow-y: auto;
    }



    #item-info{
        height: 500px;
        border: solid #dddddd 1px;
    }
}

.no-padding {
    padding: 0px;
}

.manager-button {
    width: 33%;
    margin-bottom: 10px;
}

.popup-entry{
    margin-bottom: 10px;
}

#attribute-heading{
    margin-bottom: 10px;
}

#attribute-container{

}

