.badge{
    margin-right: 5px;
}

.attributes{
    display:inline;
}

@media (min-width:700px) {
    .panel {
        height: 500px;
    }

    #item-info{
        height: 500px;
        border: solid #dddddd 1px;
    }
}

.no-padding {
    padding: 0px;
}