.badge{
    margin-right: 5px;
    background-color: #3498db;
}

.list-group-item:hover{
    background-color: #e74c3c;
    color: #ffffff;
    border: 1px solid #3498db;
    box-shadow: 0px 1px 1px  grey;
}

p{
    margin:0;
}

.attributes{
    display:inline;
}

@media (min-width:700px) {
    .panel {
        height: 500px;
    }

    #item-info{
        height: 500px;
        border: solid #dddddd 1px;
    }
}

.no-padding {
    padding: 0px;
}

.selected{
    background-color: #e74c3c;
    color: #ffffff;
    border: 1px solid #3498db;
}