.attribute-panel {
    min-height: 250px;
    max-height: 446px;
    overflow-y: auto;
}

.same-height {
    height: 35px;
}

.disable-shadow {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.glyphicons-small {
    font-size: 15px;
    top: -3px;
}

.criteria-input {
    margin-bottom: 10px;
}

.modal-title-color {
    color: black;
}

#filter {
    margin-bottom: 20px;
    height: 34px;
}

.glyphicon {
    top: 0px;
}



#inventory-panel-table {
    max-height: 500px;
    overflow-y: auto;
}